/* VARIABLES */
:root {
  --main-color: #66ffff;
  --secondary-color: #F75C52;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  border: 30px solid var(--secondary-color);
  background-image: url('./images/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.title {
  width: 400px;
  border: 3px solid var(--main-color);
  padding: 2rem;
  background-image: url('./images/noise.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

h1 {
  color: var(--main-color);
  text-align: center
}
