@import url('https://fonts.googleapis.com/css?family=Quicksand');
/* VARIABLES */
:root {
  --main-color: white;
  --secondary-color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Quicksand', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  border: 30px solid var(--secondary-color);
  background-image: url('./images/desert.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.title {
  width: 400px;
  border: 3px solid var(--main-color);
  padding: 2rem;
  background: rgba(12, 49, 98, .5);
  border-radius: 3px;
}

h1 {
  color: var(--main-color);
  text-align: center;
  text-transform: uppercase;
}

@media all and (max-width: 768px) {
  body {
    border: 10px solid var(--secondary-color);
    padding: 30px;
  }
}