@import url('https://fonts.googleapis.com/css?family=Anton');
/* VARIABLES */
:root {
  --main-color: #04f0f4;
  --secondary-color: black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Anton';
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  border: 30px solid var(--secondary-color);
  background-image: url('./images/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.title {
  width: 400px;
  border: 3px solid var(--main-color);
  border-radius: 3px;
  padding: 2rem;
  /* background-image: url('./images/noise.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; */
  background-color: rgba(0,0,0,0.6);
}

h1 {
  color: var(--main-color);
  text-align: center;
  text-transform: uppercase;
}

@media all and (max-width: 768px) {
  body {
    border: 10px solid var(--secondary-color);
    padding: 30px;
  }
}